[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
seleniumbase = "4.30.1"
flake8 = "*"
black = "*"
parameterized = "*"

[dev-packages]

[requires]
python_version = "3.12"
